# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/HEAD/app/assets/javascripts/editor/schema/ci.json

stages:
  - build
  - release
  - deploy

variables:
  TAG_IMAGE: $CI_COMMIT_TAG

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Building application..."
    - docker build 
      --build-arg NEXT_PUBLIC_ENVIRONMENT=${NEXT_PUBLIC_ENVIRONMENT} 
      --build-arg NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL} 
      --build-arg FIREBASE_API_KEY=${FIREBASE_API_KEY} 
      --build-arg FIREBASE_AUTH_DOMAIN=${FIREBASE_AUTH_DOMAIN} 
      --build-arg FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID} 
      --build-arg FIREBASE_STORAGE_BUCKET=${FIREBASE_STORAGE_BUCKET} 
      --build-arg FIREBASE_MESSAGING_SENDER_ID=${FIREBASE_MESSAGING_SENDER_ID} 
      --build-arg FIREBASE_APP_ID=${FIREBASE_APP_ID} 
      --build-arg NEXTAUTH_SECRET=${NEXTAUTH_SECRET} 
      -t "$CI_REGISTRY_IMAGE/app:latest" 
      -t "$CI_REGISTRY_IMAGE/app:$TAG_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE/app" --all-tags
    - echo "$CI_JOB_ID" > app_build_job_id.txt
  artifacts:
    paths:
      - app_build_job_id.txt

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: build
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  variables:
    RELEASE_TITLE: "Release ${CI_COMMIT_TAG}"
    RELEASE_DESC: "Tagged after commit ${CI_COMMIT_SHORT_SHA}, message ${CI_COMMIT_TAG_MESSAGE}"
  script:
    - export APP_BUILD_JOB_ID="$(cat app_build_job_id.txt)"
    - echo "create release ${CI_COMMIT_TAG} from jobs $APP_BUILD_JOB_ID"
    - release-cli create --name "${RELEASE_TITLE}" --description "${RELEASE_DESC}" --tag-name "${CI_COMMIT_TAG}"

deploy:
  stage: deploy
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - "which ssh-agent || ( apk update && apk add --no-cache openssh)"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - |
      ssh -p $SSH_PORT -o StrictHostKeyChecking=no ${SSH_USER}@${SSH_HOST} " 
        export APP_IMAGE_PROD_APP=\"$CI_REGISTRY_IMAGE/app\" &&
        export APP_IMAGE_PROD_APP_TAG=$CI_COMMIT_TAG &&

        cd ~/web/production/sanggartari

        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker compose -f docker-compose.prod.yml up -d --build
      "
